@font-face {
	font-family: 'ArabicFont'; /*a name to be used later*/	
	src: url('file:///android_asset/fonts/ScheherazadeRegOT.ttf'); /*URL to font*/
}

* {
	text-align: right;
	font-family: 'ArabicFont';
}

body {
	padding: 5px auto 5px auto;
}

.cover>h1,h2{	
	text-align: center;
	font-weight: normal;
}

.colorMain{color:#F00;}
.colorSecondary{color:#9F0;}
.colorTertiary{color: #0DD5FC;}

/*
PrimaryBlue: #FF0000;
SecondaryBrown: #99FF00;
TertiaryBlue: #0DD5FC;
QuarterySkyBlue: #BA01FF;
*/