@font-face {
	font-family: 'ArabicFont'; /*a name to be used later*/	
	src: url('file:///android_asset/fonts/ScheherazadeRegOT.ttf'); /*URL to font*/
}

* {
	text-align: right;
	font-family: 'ArabicFont';
}

body {
	padding: 5px auto 5px auto;
}

.colorMain{color:#F00;}
.colorSecondary{color:#9F0;}
.colorTertiary{color: #0DD5FC;}