<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khalid.ajrumiyyah">
    android:versionCode="1"
    android:versionName="@string/version_name">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReaderActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.khalid.ajrumiyyah.ReaderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khalid.ajrumiyyah.ReaderActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7d916a731175b056ceea302c933059b591ca2646" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
